body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
    margin-top: 20px;
}

/* Styling for the first button */
#myButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 500px;
    left: 50px;
}

#myButton:hover {
    background-color: #45a049;
}

/* Styling for the second button */
#nextPageButton {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 200px;
    right: 50px;
}

#nextPageButton:hover {
    background-color: #007bb5;
}

/* Styling for the content to make the page scrollable */
.content {
    margin-top: 300px; /* Adjust this value based on your layout */
    padding: 20px;
    background-color:#f0f0f0;
    text-align: left;
    max-width: 800px;
    margin: 300px auto 0 auto;
    padding: 20px;
}

.content p {
    margin-bottom: 20px;
    line-height: 1.6;
}


#logo {
    width: 15%; /* Adjust the width as needed */
    height: auto;
    display: block;
    margin: 20px auto; /* Center the image horizontally */
    border-radius: 10px;
    position: absolute; /* Allows for absolute positioning within the container */
    top: 5px; /* Adjust the top position as needed */
    left: 50px; /* Adjust the left position as needed */
}